<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comviewzonazul.google.httpssites.zonazul">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".usuario.gui.EscolhaPerfilActivity" />
        <activity
            android:name=".cliente.gui.CadastroClienteActivity2"
            android:label="CadastroClienteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".usuario.gui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".usuario.gui.CadUsuarioActivity"
            android:label="@string/title_activity_cad_usuario"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- <activity android:name=".usuario.gui.CadUsuarioActivity" /> -->

        <activity
            android:name=".cliente.gui.PrincipalClienteActivity"
            android:label="@string/title_activity_principal_cliente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".compra.gui.CompraActivity"
            android:label="@string/title_activity_cliente_compra"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".compra.gui.CompraCartaoActivity"
            android:label="@string/title_activity_cliente_compra_cartao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".cliente.gui.ExtratoActivity" />
        <activity android:name=".cliente.gui.EscolhaExtrato" />
        <activity android:name=".cliente.gui.ListarExtrato" />
        <activity android:name=".cliente.gui.EditarClienteActivity" />
        <activity android:name=".cliente.gui.perfil_cliente" />
        <activity android:name=".carro.gui.AdicionarCarro" />
        <activity android:name=".agentetransito.gui.PrincipalAgenteActivity" />
        <activity android:name=".carro.gui.GerenciarCarroActivity" />
        <activity android:name=".estacionamento.gui.Estacionar" />
        <activity android:name=".pontovenda.gui.CadastroPontoVendaActivity" />
        <activity android:name=".pontovenda.gui.PontoVendaActivity" />
        <activity
            android:name=".agentetransito.gui.CadastroAgenteActivity"
            android:label="@string/title_activity_cadastro_agente"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB6UTFduOx-TUSFcMcoIAiCCWlE7ByFRNo" />

        <activity
            android:name=".cliente.gui.MapsActivity"
            android:label="AIzaSyB6UTFduOx-TUSFcMcoIAiCCWlE7ByFRNo" />
        <activity android:name=".cliente.gui.ConfiguracaoClienteActivity" />
        <activity android:name=".estacionamento.gui.EstacionamentosActivity"></activity>
    </application>

</manifest>